book1/ch7-RSS新聞每日寄到Gmail.json
{
  "name": "RSS新聞每日寄到Gmail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2dfcd06e-458e-4879-ba1c-18514fff0622",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/headlines/section/topic/WORLD.zh-TW_tw?hl=zh-TW&gl=TW&ceid=TW:zh-Hant",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "8acb9cb2-52fe-4c1c-b727-4807d385e586",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "78ee50d9-4096-4270-b740-2014ccd7ca6c",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); \nlet msg = '📰 今日國際新聞 Top 10\\n'; \nmsg += '━━━━━━━━━━\\n\\n'; \nitems.forEach((item, i) => {   const title = item.json.title || '無標題';   const link = item.json.link || '';   \nmsg += `${i+1}. ${title}\\n${link}\\n\\n`; }); \nmsg += '⏰ 推播時間：' + new Date().toLocaleString('zh-TW'); return [{ json: { message: msg } }]; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "75102998-6362-4a7f-a264-ff219e1e96a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "poan0627@gmail.com",
        "subject": "當日國際新聞",
        "message": "= {{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "d5c38a12-84ab-4be7-9d37-02670ae7adb7",
      "name": "Send a message",
      "webhookId": "696c6898-646f-4003-804e-ccae0089a84e",
      "credentials": {
        "gmailOAuth2": {
          "id": "hb5sACkQ9qoIDqom",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e21a119-c881-4b57-af3e-52a0b79142f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4d9eb9c801d5467f1edf3291ca65c7cc3fafa7c027e9e58fbcfb62bd4da00d4"
  },
  "id": "jBuzWvuHEqCYcOg1",
  "tags": []
}