book1/ch7-台灣上市股票漲幅篩選器.json
{
  "name": "台灣上市股票漲幅篩選器",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0273a74a-fb6d-4a51-acdc-eec1840a0bb4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.twse.com.tw/exchangeReport/STOCK_DAY_ALL?response=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "04ecfe56-3ab3-4dcf-b767-76f23cee3d69",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet parsed;\nif (typeof raw === 'string') {  parsed = JSON.parse(raw);\n} else if (Array.isArray(raw)) {  parsed = raw[0];\n} else {  parsed = raw;}\nconst data = parsed.data;\nconst results = [];\nfor (const row of data) {\n  const code = row[0].trim();\n  const name = row[1].trim();\n  const close = parseFloat(row[7].replace(/,/g, ''));\n    const changeRaw = row[8].replace(/,/g, '').trim();\n    if (changeRaw.startsWith('X') || isNaN(close) || close === 0) continue;\n    const change = parseFloat(changeRaw);\n  if (isNaN(change)) continue;\n    const prevClose = close - change;\n  if (prevClose === 0) continue;\n    const pct = ((change / prevClose) * 100).toFixed(2);\n  results.push({\n    json: { code, name, close, change, changePercent: parseFloat(pct),\n      prevClose: parseFloat(prevClose.toFixed(2))\n    }  });}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1b46787f-3871-45dc-986b-379e33528daf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "65850dfa-6473-4a3f-80ed-7052f301323f",
              "leftValue": "={{ $json.changePercent }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "cec8c043-b31d-4010-9646-dd18325c8c93",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79dc4e60-2d1a-4034-a4e5-19817064c448",
              "name": "stockInfo ",
              "value": "={{ $json.code }}{{ $json.name }}",
              "type": "string"
            },
            {
              "id": "ddb3d5e3-c98f-4b8f-bbc3-48149640d88e",
              "name": "closePrice ",
              "value": "={{ $json.close }}",
              "type": "string"
            },
            {
              "id": "b7f6d6b2-00f7-46a5-83c6-2e82a5d7e5dc",
              "name": "changePercent ",
              "value": "={{ $json.changePercent }}%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -96
      ],
      "id": "b72e9663-81c9-4b18-b4e2-70728fc6125b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "534c438c-4165-473a-b243-18b9898ade13",
  "meta": {
    "instanceId": "a4d9eb9c801d5467f1edf3291ca65c7cc3fafa7c027e9e58fbcfb62bd4da00d4"
  },
  "id": "YAdXG6mfMzDS1z46",
  "tags": []
}