book1/ch8-RSS新聞AI摘要每日寄到Gmail.json
{
  "name": "RSS新聞AI摘要每日寄到Gmail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        -320
      ],
      "id": "07c20567-d04f-4bfe-8964-653c89d1e117",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/headlines/section/topic/WORLD.zh-TW_tw?hl=zh-TW&gl=TW&ceid=TW:zh-Hant",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        544,
        -320
      ],
      "id": "20438cd0-0500-454a-9538-ddc02408c22c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        -320
      ],
      "id": "117f70e8-64fb-48ba-9f35-4daf7befd205",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "poan0627@gmail.com",
        "subject": "當日國際新聞",
        "message": "=<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Daily AI News Digest</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f7f9; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td align=\"center\" style=\"padding: 40px 0;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"max-width: 600px; width: 100%;\">\n                    <tr>\n                        <td style=\"padding: 0 20px 20px 20px; text-align: left;\">\n                            <h1 style=\"margin: 0; font-size: 24px; color: #333; letter-spacing: -0.5px;\">每日重點新聞摘要</h1>\n                            <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #777;\">由 AI 為您整理的最前線動態</p>\n                            <hr style=\"border: 0; border-top: 2px solid #333; margin-top: 15px;\">\n                        </td>\n                    </tr>\n                    \n                    <tr>\n                        <td style=\"padding: 0 20px;\">\n                            {{ $json.html_block }}\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td style=\"padding: 20px; text-align: center;\">\n                            <p style=\"font-size: 12px; color: #999; margin: 0;\">\n                                本郵件由 n8n 自動化系統發送<br>\n                                © 2026 AI News Assistant. All rights reserved.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -112
      ],
      "id": "b7bb61f8-b86e-45ab-a1a3-ecbbf35851f6",
      "name": "Send a message",
      "webhookId": "696c6898-646f-4003-804e-ccae0089a84e",
      "credentials": {
        "gmailOAuth2": {
          "id": "YN1LXf4kCRvtW1eR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=新聞標題：{{ $json.title }}\n新聞描述：{{ $json.contentSnippet }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=你是一個專業的新聞編輯助手，負責為忙碌的讀者整理新聞摘要。 請根據提供的新聞標題和描述，輸出以下三行格式，不要有任何其他文字： 第一行：原始標題（原文，不修改） 第二行：一句話中文摘要（不超過 50 字，說明新聞的核心事件與影響） 第三行：重要性等級（只輸出「高」「中」「低」三者之一）  判斷重要性的標準： 高：影響全球或台灣重大政策、經濟、安全的事件 中：科技產業動態、企業併購、重要產品發布 低：一般行業資訊、市場分析、技術趨勢報導  特別注意：如果描述欄位為空或資訊不足，請根據標題推測核心事件仍然輸出三行， 不要輸出「資訊不足」或任何說明性文字。"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        368,
        -112
      ],
      "id": "b15341d7-4614-42cb-9a0a-12de50ddde27",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        -32
      ],
      "id": "7d193ac2-0287-4b4b-885f-0d48bf1e1c51",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BXPSlhred2SaVFfM",
          "name": "Google Gemini(PaLM) Api po2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abda4a5d-8a9d-4d09-8fc3-b0291a69d855",
              "name": "ai_summary",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "127034a0-1e6f-4069-b39e-0f7a4361aa65",
              "name": "html_block",
              "value": "=<div style=\"margin-bottom: 30px; padding: 20px; border: 1px solid #e1e4e8; border-radius: 10px; background-color: #ffffff;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td style=\"padding-bottom: 15px;\">\n                <span style=\"font-size: 12px; color: #a1a1a1; font-weight: bold; letter-spacing: 1px;\">[ 新聞標題 ]</span>\n                <h2 style=\"margin: 5px 0 0 0; font-size: 18px; color: #1a1a1a; line-height: 1.4; font-weight: 700;\">\n                    {{ $('Limit').item.json.title }}\n                </h2>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"padding-bottom: 15px;\">\n                <span style=\"font-size: 12px; color: #a1a1a1; font-weight: bold; letter-spacing: 1px;\">[ AI 內容摘要 ]</span>\n                <p style=\"margin: 5px 0 0 0; font-size: 15px; color: #444444; line-height: 1.6;\">\n                    {{ $json.text }}\n                </p>\n            </td>\n        </tr>\n        <tr>\n            <td>\n                <div style=\"margin-top: 15px;\">\n                    <a href=\"{{ $('Limit').item.json.link }}\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 10px 20px; border-radius: 6px; text-decoration: none; font-size: 13px; font-weight: bold;\">\n                        閱讀全文 →\n                    </a>\n                </div>\n            </td>\n        </tr>\n    </table>\n</div>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -112
      ],
      "id": "2aa7f611-b8ae-4c93-9b02-8b08ee9367e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "html_block"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        -112
      ],
      "id": "88cb2c80-40cd-4c73-b323-b6f1785b56f5",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "83f0e2b0-55cd-4af3-b3be-8d8ce608d879",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3b9e83492aa743310a5f4e3cf47e77d7b696b6cda5e85136c3390c6c7979615"
  },
  "id": "hvThNFW4l1Odwkuy",
  "tags": []
}