book1/ch9-每日天氣通知機器人.json
{
  "name": "每日天氣通知機器人",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a2b89fd6-110b-49be-a86e-d2f124e98277",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://opendata.cwa.gov.tw/api/v1/rest/datastore/F-C0032-001",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "CWA-1D6BA337-DEF4-4668-8827-C38129CBA3BD"
            },
            {
              "name": "locationName",
              "value": "高雄市"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        0
      ],
      "id": "e86d998e-ebb8-4f79-98fa-75ac7bc20317",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "131ab7d0-0b9a-4eca-8ac8-4217ba196176",
              "name": "city",
              "value": "={{ $json.records.location[0].locationName }}",
              "type": "string"
            },
            {
              "id": "e633d86c-6f7c-4840-9797-1cb9a486cff6",
              "name": "weather",
              "value": "={{ $json.records.location[0].weatherElement[0].time[0].parameter.parameterName }}",
              "type": "string"
            },
            {
              "id": "1bd4a7b6-41b1-4043-adce-827781ba5591",
              "name": "rainProb",
              "value": "={{ Number($json.records.location[0].weatherElement[1].time[0].parameter.parameterName) }}",
              "type": "number"
            },
            {
              "id": "455f8d55-ca56-408a-9130-4af01fc88bf6",
              "name": "minTemp",
              "value": "={{ $json.records.location[0].weatherElement[2].time[0].parameter.parameterName }}",
              "type": "string"
            },
            {
              "id": "2b60d34b-ff37-4dbf-840f-83133db7b51d",
              "name": "maxTemp",
              "value": "={{ $json.records.location[0].weatherElement[4].time[0].parameter.parameterName }}",
              "type": "string"
            },
            {
              "id": "9055a2cb-8d3e-480b-92ea-f0873c89762e",
              "name": "comfort",
              "value": "={{ $json.records.location[0].weatherElement[3].time[0].parameter.parameterName }}",
              "type": "string"
            },
            {
              "id": "30323367-9658-438a-8cca-637b05aaff36",
              "name": "startTime",
              "value": "={{ $json.records.location[0].weatherElement[0].time[0].startTime }}",
              "type": "string"
            },
            {
              "id": "900e0fe1-2fc6-44c6-888a-641826e5fe76",
              "name": "endTime",
              "value": "={{ $json.records.location[0].weatherElement[0].time[0].endTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        0
      ],
      "id": "62701176-2505-4c95-8e1f-6ad47f7d622b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55ce6965-52f2-4924-b389-5f1fa735b939",
              "leftValue": "={{ $json.rainProb }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        224
      ],
      "id": "f3b69c4f-38c4-4e1c-a049-962796bcfa86",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "poan0627@gmail.com",
        "subject": "= {{ $('Edit Fields').item.json.city }}天氣預報 - 今日有雨，請攜帶雨具",
        "message": "={{ $json.city }} 天氣預報  \n預報時段：{{ $json.startTime }} ~ {{ $json.endTime }} \n天氣狀況：{{ $json.weather }} \n氣溫範圍：{{ $json.minTemp }}°C ~ {{ $json.maxTemp }}°C \n降雨機率：{{ $json.rainProb }}% 舒適度：{{ $json.comfort }}\n\n提醒：今日降雨機率達 {{ $json.rainProb }}%，出門請記得攜帶雨具。",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        208
      ],
      "id": "7b9e8a4f-d7c9-425e-ad3d-a748f1842512",
      "name": "降雨機率大30%",
      "webhookId": "ed951f03-af28-48cf-8098-13cc0f00921e",
      "credentials": {
        "gmailOAuth2": {
          "id": "YN1LXf4kCRvtW1eR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "poan0627@gmail.com",
        "subject": "= {{ $('Edit Fields').item.json.city }}天氣預報 - 今日天氣良好",
        "message": "={{ $json.city }} 天氣預報  \n預報時段：{{ $json.startTime }} ~ {{ $json.endTime }} \n天氣狀況：{{ $json.weather }} \n氣溫範圍：{{ $json.minTemp }}°C ~ {{ $json.maxTemp }}°C \n降雨機率：{{ $json.rainProb }}% 舒適度：{{ $json.comfort }}\n\n今日天氣狀況良好，降雨機率僅 {{ $json.rainProb }}%，適合外出活動。",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        320
      ],
      "id": "df1d3c92-9c5e-4a3c-88ee-88fddb3bac5a",
      "name": "降雨機率小30%",
      "webhookId": "ed951f03-af28-48cf-8098-13cc0f00921e",
      "credentials": {
        "gmailOAuth2": {
          "id": "YN1LXf4kCRvtW1eR",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "降雨機率大30%",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "降雨機率小30%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6aaa223b-d487-49a0-83ef-ac108c075308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3b9e83492aa743310a5f4e3cf47e77d7b696b6cda5e85136c3390c6c7979615"
  },
  "id": "8i1hxlLCERPYr6G0",
  "tags": []
}