book1/ch9-客戶資料同步管道.json
{
  "name": "客戶資料同步管道",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -144
      ],
      "id": "6bfb5152-b166-48d8-a6d4-8e9372d6f4c1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3viW5t1aRIcFCm",
          "mode": "list",
          "cachedResultName": "n8n-sync",
          "cachedResultUrl": "https://airtable.com/app3viW5t1aRIcFCm"
        },
        "table": {
          "__rl": true,
          "value": "tblObyWVZD9qsVicC",
          "mode": "list",
          "cachedResultName": "客戶管理系統",
          "cachedResultUrl": "https://airtable.com/app3viW5t1aRIcFCm/tblObyWVZD9qsVicC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        128,
        -272
      ],
      "id": "a2b5b6f7-0035-4344-8b15-59859fbc17d8",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "9ZUfZ5EpYdT7XWgB",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E",
          "mode": "list",
          "cachedResultName": "客戶資料同步excel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E/edit#gid=0"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -64
      ],
      "id": "7c96cb1a-d1c1-459b-9d4e-81886c4c96d8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cBR7x7wrRrDeyoLS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8a73237-ec17-4042-a0fc-8fce07e8156e",
              "name": "customerId",
              "value": "= {{ ($json.customerId||'').trim() }}",
              "type": "string"
            },
            {
              "id": "34c71dcd-e629-4046-8348-4f7a97247947",
              "name": "customerName",
              "value": "={{ ($json.customerName || '').trim() }}",
              "type": "string"
            },
            {
              "id": "4cd23807-a780-49c9-abf9-f53609159b70",
              "name": "email",
              "value": "={{ ($json.email || '').toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "a49780da-6d74-4536-af9d-0ddbe7acf1b7",
              "name": "phone",
              "value": "={{ ($json.phone || '').replace(/-/g, '').replace(/\\s/g, '') }}",
              "type": "string"
            },
            {
              "id": "3d97223a-1fff-45de-a02f-84b5eb4f50e1",
              "name": "company",
              "value": "={{ ($json.company || '').trim() }}",
              "type": "string"
            },
            {
              "id": "590ec6de-c645-4583-922c-680849d8914f",
              "name": "status",
              "value": "={{ ($json.status || 'prospect').toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -272
      ],
      "id": "a1978dfb-222b-487d-9e00-67c7cd75ce1c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8a73237-ec17-4042-a0fc-8fce07e8156e",
              "name": "customerId",
              "value": "= {{ ($json.customerId||'').trim() }}",
              "type": "string"
            },
            {
              "id": "34c71dcd-e629-4046-8348-4f7a97247947",
              "name": "customerName",
              "value": "={{ ($json.customerName || '').trim() }}",
              "type": "string"
            },
            {
              "id": "4cd23807-a780-49c9-abf9-f53609159b70",
              "name": "email",
              "value": "={{ ($json.email || '').toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "a49780da-6d74-4536-af9d-0ddbe7acf1b7",
              "name": "phone",
              "value": "={{ ($json.phone || '').replace(/-/g, '').replace(/\\s/g, '') }}",
              "type": "string"
            },
            {
              "id": "3d97223a-1fff-45de-a02f-84b5eb4f50e1",
              "name": "company",
              "value": "={{ ($json.company || '').trim() }}",
              "type": "string"
            },
            {
              "id": "590ec6de-c645-4583-922c-680849d8914f",
              "name": "status",
              "value": "={{ ($json.status || 'prospect').toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -64
      ],
      "id": "3a84155d-efe3-4235-9fd5-7445c0253f2c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "customerId",
              "field2": "customerId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        544,
        -208
      ],
      "id": "c57104c2-7350-4bf6-b6aa-41677303d988",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "368661d8-f132-4fe2-bedf-5b2baaa605c7",
              "name": "lastSyncTime",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -320
      ],
      "id": "4e20d2a1-d72d-4403-87bf-a9bc5ede7688",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E",
          "mode": "list",
          "cachedResultName": "客戶資料同步excel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "customerId",
              "displayName": "customerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customerName",
              "displayName": "customerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastSyncTime",
              "displayName": "lastSyncTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -320
      ],
      "id": "d0d62386-5238-4513-b82e-0e9a637039e7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cBR7x7wrRrDeyoLS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "368661d8-f132-4fe2-bedf-5b2baaa605c7",
              "name": "lastSyncTime",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -160
      ],
      "id": "f354618f-21af-4a50-b2f7-55daa411bfef",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E",
          "mode": "list",
          "cachedResultName": "客戶資料同步excel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qVKW3AETxUv_aFn3rjp5aI0K7se0ZSnlCbJI_aPR84E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lastSyncTime": "={{ $json.lastSyncTime }}",
            "customerId": "={{ $('Edit Fields1').item.json.customerId }}",
            "customerName": "={{ $('Edit Fields1').item.json.customerName }}",
            "email": "={{ $('Edit Fields1').item.json.email }}",
            "phone": "={{ $('Edit Fields1').item.json.phone }}",
            "company": "={{ $('Edit Fields1').item.json.company }}",
            "status": "={{ $('Edit Fields1').item.json.status }}"
          },
          "matchingColumns": [
            "customerId"
          ],
          "schema": [
            {
              "id": "customerId",
              "displayName": "customerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customerName",
              "displayName": "customerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastSyncTime",
              "displayName": "lastSyncTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        -160
      ],
      "id": "b8252cee-aa3c-4d9b-ab09-26fa14b16714",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cBR7x7wrRrDeyoLS",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11ef751e-f9d4-48e1-8308-d8aa971cad87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10f237aeec4a8587e6297c5bcd4e2d8aa8a2765b3c774ad4a01a25ca837a5e1b"
  },
  "id": "oSrWndAPzEICRRfD",
  "tags": []
}